.chatWrap{
    display: flex;
    flex-direction: column;
}
.message{
    display: flex;
    margin: 20px;
    padding: 10px 20px;
    box-shadow:0 0 10px rgba(40, 55, 141 , 0.1);
    border-radius: 7px;
}
.messages{
    height: 450px;
    overflow: auto;

}
.messageInfo{
    display: flex;
    flex-direction: column;
}