.form-control{

}
.input,
.textarea {
    background: #F5F5F5;
    border: rgba(48, 63, 159, 0.49) solid 1px;
    font-size: 14px;
    border-radius: 13px;
    padding: 5px 5px 5px 10px;
    height: 60px;
    width: 30%;
    resize: none;
}
.textarea:focus {
    box-shadow: 1px 1px 10px #C0C0C0;
}
.errorInput,
.errorTextarea {
    border: #8e2121 solid 2px;

}
.errorSpan{
    color: #8e2121;
    font-size: 16px;
}
.formClass{
    height: 32px;
    width: 100%;
    border-radius:5px;
    border: rgba(48, 63, 159, 0.49) solid 1px;
    font-size: 14px;
}