.pagination{
    cursor: pointer;
    font-size: 18px;
    margin-right: 7px;
    padding:5px;
}
.pagination:hover{
    box-shadow: 2px 2px  #303f9f;
    border-radius: 50%;
}
.selectedPage{
    font-weight: 600;
    color:  #303f9f;
}
.wrap{
    margin: 10px 0 0 30px;
}
.button{
    letter-spacing: 2px;
    margin-right: 15px;
    width: 70px;
    padding: 5px;
}