
.wrap {
    margin: 15px;
}

.photo {
    width: 100px;
}
.pagination{
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 5px 5px;
}
.selectedPage{
    font-weight: 900;
}

.user{
    margin-bottom: 5px;
}