.header {
    grid-area: h;
    background-color: cadetblue;
    font-size: 16px;

}
.header img{
    width: 100px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: -14px 0 0 15px;
}
.logo img{
    width: 90px;
    height: 90px;
}
.loginBlock{
    cursor: pointer;
 margin: -15px 30px 0 0;

}
.loginBlock a{
    color: #e7fdd8;
    text-decoration: none
}