.header {
    grid-area: h;
    background-color: #a0a0a0;
    font-size: 15px;

}
.header img{
    width: 100px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin:3px 0 0 23px;
}
.logo img{
    width: 80px;
    height: 55px;
}
a:visited {
    color: #28378d;
}
.loginBlock {
    cursor: pointer;
    margin: 4px 30px 0 0;
    color: #28378d;
    font-weight: bold;
}
