.header {
    margin: 15px 0 20px;
    background: linear-gradient(
            17deg, rgba(247, 247, 247, 1), rgba(9, 39, 246, 0.2) 100%);
    font-size: 15px;
    border-radius: 7px;
    height: 67px;
}
.header img{
    width: 100px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opacity {
    background: rgba(160, 160, 160, 0);
}
.logo {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.brand {
    letter-spacing: 3px;
    font-weight: 900;
    font-family: Unispace;
    font-size: 16px;

    cursor: default;
    color: #0B3D91;
    margin: 0 0 0 15px;
}
.logo img{
    width: 60px;
    height: 60px;
    margin:0 0 0 10px;
}
a:visited {
    color: #28378d;
}

.loginBlock {
    cursor: pointer;
    margin: 4px 30px 0 0;
    color: #28378d;
    font-weight: bold;
}

.outButton {
    font-size: 12px;
    width: 60px;
    margin: 0 0 0 8px;
    padding: 4px;
    background: #303f9f;
    color: white;
}