.nav {
    background-color: rgb(191, 191, 191);
    padding: 20px;
    font-size: 18px;
    border-radius: 7px
}

.item {
    margin: 10px 0 0 10px;
    color: #303F9F;

}

.item a {
    text-decoration: none;
    color: #303F9F;
    /* а = NavLink */
}

.item a.active {
    color: #303F9F;
}