.descriptionBlock {
    padding: 10px;
    display: flex;
}
.detailsWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 0;
}
.detailsWrap:hover{
    background-color: rgba(227, 227, 227, 0.4);
}
.details{
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 16px solid rgba(33, 48, 137, 0.05);
    margin: 9px 0 0 15px;
    opacity: 0;
}
.highlight{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    flex:1;
}

.highlight span {
    position: relative;
}
.highlight span:before {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #000;
    top:110%;
}


.img {
    margin: 25px 0 0 20px;
    border-radius: 50%;
    height: 265px;
    width: 265px;
    cursor: pointer;
}
.img:hover{
    box-shadow: 0 0 10px rgba(40, 55, 141, 0.3);
}
.textBlock{
    display: flex;
    flex-direction: column;
}
.description {
    margin: 20px 0 0 30px;
    font-size: 18px;
    line-height: 1.5;
}
.contentWrap{
    margin: 15px 0 0 50px;
    font-size: 18px;
    cursor: default;
    color: #28378d;
    text-align: center;
}
.fragmentWrap{
    display: flex;
    flex-wrap: wrap;
}
.contentForm{
    justify-content: space-between;
    margin-bottom: 7px;
}

.fragmentWrap p{
  margin-right: 10px;
}
.fragmentWrap p:nth-child(2){
    color: black;
}
.name{
    margin-bottom: 10px;
    font-weight: 600;
    color: #213089;
}
.name span {
    font: 14px italic;
    display: block;
}
.content{
    margin-top: 10px;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(40, 55, 141, 0.1);
}
