.descriptionBlock {
    padding: 10px;
    display: flex;
}

.img {
    border-radius: 50%;
    height: 265px;
    width: 265px;
}

.textBlock{
    display: flex;
    flex-direction: column;
}
.description {
    margin: 20px 0 0 30px;
    font-size: 18px;
    line-height: 1.5;
}
.status{
    margin: 15px 0 0 30px;
    font-size: 18px;
    cursor: default;
    color: #28378d;
}
.statusWrap{
    display: flex;
    flex-wrap: wrap;
}
.name{
    margin-bottom: 10px;
    font-weight: 600;
    color: #213089;
}
.statusInput{
    font-size: 18px;
    color: #28378d;
    background-color: #F5F5F5;
}

.statusInputDiv{
    height: 25px;
    width: 200px;
    cursor: pointer;
    color: black;
}
.changeStatusDiv{
    height: 25px;
    width: 200px;
    cursor: pointer;
    color: black;
}
.statusInputDiv:hover{
    background-color: rgba(227, 227, 227, 0.2);
}

.wallpaper {
    width: 600px;
    height: 350px;
    margin: 10px;
    padding-left: 20px;
}