.descriptionBlock {
    padding: 10px;
    display: flex;
}
.details{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid rgba(33, 48, 137, 0.66);
    margin: 7px 0 0 13px;
}
.img {
    margin: 25px 0 0 20px;
    border-radius: 50%;
    height: 265px;
    width: 265px;
    cursor: pointer;
}
.img:hover{
    box-shadow: 0 0 10px rgba(40, 55, 141, 0.3);
}
.textBlock{
    display: flex;
    flex-direction: column;
}
.description {
    margin: 20px 0 0 30px;
    font-size: 18px;
    line-height: 1.5;
}
.contentWrap{
    margin: 15px 0 0 30px;
    font-size: 18px;
    cursor: default;
    color: #28378d;
}
.fragmentWrap{
    display: flex;
    flex-wrap: wrap;
}
.contentForm{
    justify-content: space-between;
    margin-bottom: 5px;
}

.fragmentWrap p{
  margin-right: 10px;
}
.fragmentWrap p:nth-child(2){
    color: black;
}
.name{
    margin-bottom: 10px;
    font-weight: 600;
    color: #213089;
}
.name span {
    font: 14px italic;
    display: block;
}
