@import 'nullstyle.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.light {
  /*background: #F0F2F5;*/
  /*transition: .5s all ease-in;*/
}

body.dark {
  transition: .5s all ease-in;
  background: rgba(52, 58, 64, 0.69) url("https://storge.pic2.me/c/1360x800/727/5286d9de23e4c.jpg")  no-repeat center center fixed;
  background-size:cover;
}
