.dialogs {
    display: grid;
    font-size: 16px;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    font-size: 18px;
    margin: 5px 0;
}

.messages {
    padding: 10px;
}